html,body {
    height:100%;
    background-color: #404040;
    width: 99%;
}

.col-md-3 img {
    display:block;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.streamtitle {
    background-color:#000d1f;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 15px;
    width: calc(100% - 15px);
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    color: whitesmoke;
    font-family: Impact;
}

#stream{
    height: 400px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(5,5,5,1 );
}

.stream2 {
    margin-right: 0px;
    padding-right: 0px;
    height: 400px;

/*    background-color:red;*/
}

#streaminfo {
    background-color: #000d1f;
/*    height: 100px;*/
    margin-left: 15px;
    margin-bottom: 5px;
    width: 100%;
}

#status {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 30px;
    color: whitesmoke;
    font-family: Impact;
    font-weight: bold;
}

#gametitle{
    margin-right: 10px;
    font-size: 20px;
    color: tan;
}

#testviewer {
/*    text-align:center;*/
    padding-bottom: 10px;
    text-align: left;
    color: tan;
/*    font-family: Arial;*/
/*    font-weight: bold;*/
    color: saddlebrown;
}

.chat {
    position: fixed;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    right: 0px;
    width: 20%;
    z-index: 10;
    height: 100%
}

#actChat {
    border-left-style: solid;
    border-left-width: 1px;
    border-color: black;
    background-color: #19191f;
    height: calc(100%);
}

.row {
/*    background-color: aqua;*/
}

.twittertitle {
    background-color:#000d1f;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 15px;
    width: calc(100% - 30px);
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    color: whitesmoke;
    font-family: Impact;
}

.songtitle {
    background-color:#000d1f;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: -10px;
/*    width: calc(10wwwwwwwww0% - 30px);*/
    text-align: center;
    font-size: 30px;
    width:calc(100% + 10px);
    overflow: hidden;
    color: whitesmoke;
    font-family: Impact;
}

#twitterino {
/*    background-color: rgba(5,5,5,.5);*/
    width:100%;
    height: 300px;
}

#twitterblock {
    background-color: #000d1f;
    height: 300px;
}

/*Everything on the left side of the screen*/
#maincontent {
    width:80%;
    padding-right:20%;
}

#songs {
    text-overflow: clip;
    background-color: #000d1f;
    height: 300px;
    padding-left: 5px;
}

.album {
    background-color: #080022;
/*
    border-style: solid;
    border-color: black;
    border-width: 2px;
*/
    height: 100px;
    width: 100px;
    background-size: 100% 100%;
}

.row a {
    margin-top: 1px;
    margin-bottom: 1px;     
    padding-top: 0px;
    padding-left: 10px;
    white-space: nowrap;
    font-size: 30px;
    overflow: hidden;
    color: whitesmoke;
    font-family: Impact;
    text-decoration: none;
}

.row p {
    margin-top: 6px;
    padding-top: 0px;
    margin-bottom: 6px;
    color: #c3c3c3;
    padding-left: 10px;
}

.row h4 {
    margin-top: 1px;
    padding-top: 0px;
    margin-bottom: 1px;
    color: #b87dc3;
    padding-left: 10px;
}

.songinfo {
    overflow: hidden;
    width:70%;
}

.border {
    height: 100%;
    width: 100%;
    background-image: url(../Common/assets/b1.png);
    background-position: center;
    padding: 0px;
}

.border2 {
    height: 100%;
    width: 100%;
    background-image: url(../Common/assets/b1.png);
    background-position: center;
    padding: 0px;
}

.replaytitle {
    background-color:#000d1f;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 15px;
    margin-top:5px;
    text-align: center;
    font-size: 30px;
    width:calc(100% - 15px);
    overflow: hidden;
    color: whitesmoke;
    font-family: Impact;
}

.sc2replaystats {
    text-align: center;
    background-color:#000d1f;
    height: 200px;
    margin-right: 0px;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    color: whitesmoke;
    font-family: Impact;
}

.downloadlink {
    background-color:#000d1f;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 15px;
    text-align: center;
    font-size: 30px;
    width:calc(100% - 15px);
    overflow: hidden;
    color: whitesmoke;
    font-family: Impact;
}

@media screen and (max-width: 991px)
{
        #twitterino {
            margin-right: 0px;
            right: 0px;
        }
    
        .songtitle {
            margin-left: 15px;
            width: calc(100% - 15px);
        }
    
        .twittertitle {
            width: calc(100% - 15px);
        }
    
        #twitterblock {
            margin-right: -15px;
            margin-bottom: 5px;
        }
    
        #songs {
            margin-left: 15px;
        }
    
        #maincontent {
            padding-right: 0px;
        }
    
        .chat {
            display: none;
        }
    
        .chatentry {
            display: none;
        }
    
        #songs {
            background-color: #000d1f;
            height: 300px;
            width:calc(100% - 15px);
            padding-left: 15px;
        }   
}