html,body {
    background-color: #1a1a1a;
    width: 99%;
    color: white;
}

.bckgrdItems {
    background-color: #04152c;
    margin-top: 15px;
    border-style: solid;
    border-color: rgba(255,255,255,.3);
}

.table-striped>tbody>tr:nth-of-type(odd) {
   background-color: dimgrey;
 }

.columnRight {
    border-left:hidden;
}

.columnLeft {
    border-right: hidden;
}

@media screen and (max-width: 991px)
{
    .leftGuys {
        margin-right:-25px;
    }
    
    .columnRight {
        border-left: solid;
        border-color: rgba(255,255,255,.3);
    }

    .columnLeft {
        border-right: solid;
        border-color: rgba(255,255,255,.3);
    }
}